<?xml version="1.0"?>
<launch>
  <arg name="desc" default="true"/>
  <arg name="publish_tf" default="true"/>
  

<node machine="odroid-server" name="rc_create_driver_python.py" pkg="rc_create" type="rc_create_driver_python.py" output="screen"/>
<node machine="aamodh-Opti" name="rc_create_controller_python.py" pkg="rc_create" type="rc_create_controller_python.py" output="screen" />
  <!-- Robot description -->
  <include if="$(arg desc)" file="$(find ca_description)/launch/create_2.launch"/>
</launch>
